<head>
    <link rel = "stylesheet" href="css/style.css"
</head>

<body class = 'background'>
    <h1> This is our <%=title%> </h1>
    <h3> City - <%=output.name%> </h3>
    <h3> Temperature - <%=output.main.temp%>°C </h3>
    <h3> Country - <%=output.weather[0].main%> </h3>
    <h3> Country - <%=output.sys.country%> </h3>
</body>